<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.png">
    <title>TECoding - Inicio</title>
</head>

<body>
    <h1>
        <img src="/static/logo.png" alt="TECoding logo" id="logo">
        TECoding
    </h1>
    <nav>
        <span>
            <a href="/">Inicio</a>
        </span>
        <span>
            <a href="/contacto">Contacto</a>
        </span>
    </nav>
    <h2>¿Quiénes somos?</h2>
    <p>
        Somos una comunidad estudiantil con pasión
        por la programación y la tecnología
    </p>
</body>

</html>